cryptography==35.0.0
JPype1==1.0.1
JayDeBeApi==1.2.3
PyYAML==6.0
Sphinx==3.1.2
sphinxcontrib-websupport==1.2.3
openpyxl==3.0.9
psutil==5.8.0
regex==2021.11.10
requests==2.26.0
urllib3==1.26.7
pytest~=5.4.3

